In [ ]:
import pandas as pd
import csv
import matplotlib.pyplot as plt

In [ ]:
#Reading CSV file
data=pd.read_csv('/content/dat2.csv',encoding="ISO-8859-1")
print(data.to_string())

                  country  Total_Cases     Population        Date
0                      USA  34,022,657    332,759,663   27-May-21
1                    India  27,729,247  1,392,271,886   27-May-21
2                   Brazil  16,392,657    213,926,682   27-May-21
3                   France   5,646,897     65,404,386   27-May-21
4                   Turkey   5,228,322     85,159,401   27-May-21
5                   Russia   5,053,748    145,991,189   27-May-21
6                       UK   4,477,705     68,208,871   27-May-21
7                    Italy   4,209,707     60,381,191  27/05/2021
8                Argentina   3,702,422     45,570,832  27/05/2021
9                  Germany   3,680,159     84,026,628  27/05/2021
10                   Spain   3,668,658     46,771,195   27-May-21
11                Colombia   3,342,567     51,373,140   27-May-21
12                    Iran   2,886,111     84,964,116   27-May-21
13                  Poland   2,871,371     37,809,020  27/05/2021
14                  Mexico   2,408,778    130,157,316  27/05/2021
15                 Ukraine   2,199,769     43,495,200  27/05/2021
16                    Peru   1,947,555     33,386,618  27/05/2021
17               Indonesia   1,809,926    276,138,203  27/05/2021
18                 Czechia   1,660,935     10,726,985  27/05/2021
19            South Africa   1,654,551     59,984,227   27-May-21
20             Netherlands   1,641,318     17,169,226   27-May-21
21                  Canada   1,374,275     38,041,454   27-May-21
22                   Chile   1,361,381     19,264,623   27-May-21
23             Philippines   1,216,582    110,898,404   27-May-21
24                    Iraq   1,190,351     41,035,284   27-May-21
25                 Romania   1,077,161     19,121,151   27-May-21
26                  Sweden   1,068,473     10,156,264   27-May-21
27                 Belgium   1,057,903     11,635,300  27/05/2021
28                Pakistan     916,239    224,758,649  27/05/2021
29                Portugal     847,604     10,169,734  27/05/2021
30                  Israel     839,433      9,326,000  27/05/2021
31                 Hungary     804,032      9,638,097  27/05/2021
32              Bangladesh     796,343    166,172,855  27/05/2021
33                  Jordan     734,659     10,294,716   27-May-21
34                   Japan     733,887    126,125,163   27-May-21
35                  Serbia     711,772      8,705,431   27-May-21
36             Switzerland     693,023      8,711,891   27-May-21
37                 Austria     644,207      9,052,918   27-May-21
38                     UAE     565,451      9,998,375   27-May-21
39                Malaysia     549,514     32,740,604   27-May-21
40                   Nepal     549,111     29,609,424   27-May-21
41                 Lebanon     539,888      6,797,703   27-May-21
42                 Morocco     518,458     37,305,888   27-May-21
43            Saudi Arabia     447,178     35,303,214   27-May-21
44                 Ecuador     423,165     17,884,886   27-May-21
45                Bulgaria     418,106      6,900,936   27-May-21
46                  Greece     398,898     10,376,840   27-May-21
47                 Belarus     391,637      9,446,505   27-May-21
48                Slovakia     389,440      5,462,039   27-May-21
49              Kazakhstan     383,595     18,979,649   27-May-21
50                  Panama     376,854      4,376,067   27-May-21
51                 Bolivia     364,570     11,816,823   27-May-21
52                 Croatia     355,617      4,082,280   27-May-21
53                Paraguay     348,184      7,211,696   27-May-21
54                 Georgia     342,880      3,982,221   27-May-21
55                 Tunisia     341,952     11,930,414   27-May-21
56              Azerbaijan     333,559     10,221,829   27-May-21
57              Costa Rica     314,102      5,136,186   27-May-21
58               Palestine     307,569      5,208,175   27-May-21
59                  Kuwait     305,583      4,327,588   27-May-21
60      Dominican Republic     289,288     10,946,263   27-May-21
61                 Uruguay     282,198      3,484,635   27-May-21
62                 Denmark     278,396      5,810,678   27-May-21
63               Lithuania     273,866      2,687,738   27-May-21
64                Ethiopia     270,944    117,525,912   27-May-21
65                 Ireland     260,766      4,987,637   27-May-21
66                   Egypt     259,540    104,074,573   27-May-21
67                     DRC      31,386     92,006,716   27-May-21
68                   Malta      30,526        442,608   27-May-21
69              Cabo Verde      30,122        561,445   27-May-21
70               Australia      30,083     25,767,255   27-May-21
71                Cambodia      28,825     16,927,916   27-May-21
72                  Rwanda      26,878     13,241,114   27-May-21
73                 Réunion      24,901        901,094   27-May-21
74                   Syria      24,410     17,883,253   27-May-21
75                   Gabon      24,365      2,273,009   27-May-21
76           French Guiana      23,763        305,645   27-May-21
77                  Guinea      23,110     13,453,067   27-May-21
78     Trinidad and Tobago      22,620      1,403,593   27-May-21
79                 Mayotte      20,176        278,739   27-May-21
80              Mauritania      19,407      4,759,572   27-May-21
81        French Polynesia      18,860        282,378   27-May-21
82                Eswatini      18,587      1,171,024   27-May-21
83                  Guyana      16,724        789,989   27-May-21
84              Guadeloupe      16,530        400,186   27-May-21
85        Papua New Guinea      15,772      9,099,821   27-May-21
86                 Somalia      14,647     16,291,776   27-May-21
87                Suriname      14,305        591,386   27-May-21
88                    Mali      14,262     20,774,952   27-May-21
89                   Haiti      14,128     11,528,120   27-May-21
90           New Caledonia         128        287,980  27/05/2021
91                Anguilla         109         15,124  27/05/2021
92   Saint Kitts and Nevis          68         53,539  27/05/2021
93        Falkland Islands          63          3,571  27/05/2021
94                   Macao          51        657,329  27/05/2021
95               Greenland          37         56,859   27-May-21
96            Vatican City          27            803   27-May-21
97   Saint Pierre Miquelon          25          5,768  27/05/2021
98              Montserrat          20          4,995  27/05/2021
99         Solomon Islands          20        702,042  27/05/2021
100         Western Sahara          10        610,555  27/05/2021
101             MS Zaandam           9            NaN  27/05/2021
102                Vanuatu           4        313,606  27/05/2021
103              Lithuania     273,866      2,687,738  27/05/2021
104               Ethiopia     270,944    117,525,912  27/05/2021
105                Ireland     260,766      4,987,637   27-May-21
106                  Egypt     259,540    104,074,573   27-May-21
107                Moldova     255,060      4,025,458  27/05/2021
108       Marshall Islands           4         59,551  27/05/2021
109                  Samoa           3        199,607  27/05/2021
110           Saint Helena           2          6,093  27/05/2021
111                   Iran   2,886,111     84,964,116  27/05/2021
112       Falkland Islands          63          3,571  27/05/2021
113             Micronesia           1              0  27/05/2021
114                    NaN         NaN            NaN         NaN
115                    NaN         NaN            NaN         NaN
116                    NaN         NaN            NaN         NaN
117                    NaN         NaN            NaN         NaN
118                    NaN         NaN            NaN         NaN
119                    NaN         NaN            NaN         NaN
120                    NaN         NaN            NaN         NaN
121                    NaN         NaN            NaN         NaN
122                    NaN         NaN            NaN         NaN
123                    NaN         NaN            NaN         NaN
124                    NaN         NaN            NaN         NaN
125                    NaN         NaN            NaN         NaN
126                    NaN         NaN            NaN         NaN
127                    NaN         NaN            NaN         NaN
128                    NaN         NaN            NaN         NaN
129                    NaN         NaN            NaN         NaN
130                    NaN         NaN            NaN         NaN
131                    NaN         NaN            NaN         NaN
132                    NaN         NaN            NaN         NaN
133                    NaN         NaN            NaN         NaN
134                    NaN         NaN            NaN         NaN
135                    NaN         NaN            NaN         NaN
136                    NaN         NaN            NaN         NaN
137                    NaN         NaN            NaN         NaN
138                    NaN         NaN            NaN         NaN
139                    NaN         NaN            NaN         NaN
140                    NaN         NaN            NaN         NaN
141                    NaN         NaN            NaN         NaN
142                    NaN         NaN            NaN         NaN
143                    NaN         NaN            NaN         NaN
144                    NaN         NaN            NaN         NaN
145                    NaN         NaN            NaN         NaN
146                    NaN         NaN            NaN         NaN
147                    NaN         NaN            NaN         NaN
148                    NaN         NaN            NaN         NaN
149                    NaN         NaN            NaN         NaN
150                    NaN         NaN            NaN         NaN
151                    NaN         NaN            NaN         NaN
152                    NaN         NaN            NaN         NaN
153                    NaN         NaN            NaN         NaN
154                    NaN         NaN            NaN         NaN
155                    NaN         NaN            NaN         NaN
156                    NaN         NaN            NaN         NaN
157                    NaN         NaN            NaN         NaN
158                    NaN         NaN            NaN         NaN
159                    NaN         NaN            NaN         NaN
160                    NaN         NaN            NaN         NaN
161                    NaN         NaN            NaN         NaN
162                    NaN         NaN            NaN         NaN
163                    NaN         NaN            NaN         NaN
164                    NaN         NaN            NaN         NaN
165                    NaN         NaN            NaN         NaN
166                    NaN         NaN            NaN         NaN
167                    NaN         NaN            NaN         NaN
168                    NaN         NaN            NaN         NaN
169                    NaN         NaN            NaN         NaN
170                    NaN         NaN            NaN         NaN
171                    NaN         NaN            NaN         NaN
172                    NaN         NaN            NaN         NaN
173                    NaN         NaN            NaN         NaN
174                    NaN         NaN            NaN         NaN
175                    NaN         NaN            NaN         NaN
176                    NaN         NaN            NaN         NaN
177                    NaN         NaN            NaN         NaN
178                    NaN         NaN            NaN         NaN
179                    NaN         NaN            NaN         NaN
180                    NaN         NaN            NaN         NaN
181                    NaN         NaN            NaN         NaN
182                    NaN         NaN            NaN         NaN
183                    NaN         NaN            NaN         NaN
184                    NaN         NaN            NaN         NaN
185                    NaN         NaN            NaN         NaN
186                    NaN         NaN            NaN         NaN
187                    NaN         NaN            NaN         NaN
188                    NaN         NaN            NaN         NaN
189                    NaN         NaN            NaN         NaN
190                    NaN         NaN            NaN         NaN
191                    NaN         NaN            NaN         NaN
192                    NaN         NaN            NaN         NaN
193                    NaN         NaN            NaN         NaN
194                    NaN         NaN            NaN         NaN
195                    NaN         NaN            NaN         NaN
196                    NaN         NaN            NaN         NaN
197                    NaN         NaN            NaN         NaN
198                    NaN         NaN            NaN         NaN
199                    NaN         NaN            NaN         NaN
200                    NaN         NaN            NaN         NaN
201                    NaN         NaN            NaN         NaN
202                    NaN         NaN            NaN         NaN
203                    NaN         NaN            NaN         NaN
204                    NaN         NaN            NaN         NaN
205                    NaN         NaN            NaN         NaN
206                    NaN         NaN            NaN         NaN
207                    NaN         NaN            NaN         NaN
208                    NaN         NaN            NaN         NaN
209                    NaN         NaN            NaN         NaN
210                    NaN         NaN            NaN         NaN
211                    NaN         NaN            NaN         NaN
212                    NaN         NaN            NaN         NaN
213                    NaN         NaN            NaN         NaN
214                    NaN         NaN            NaN         NaN
215                    NaN         NaN            NaN         NaN
216                    NaN         NaN            NaN         NaN
217                    NaN         NaN            NaN         NaN
218                    NaN         NaN            NaN         NaN
219                    NaN         NaN            NaN         NaN
220                    NaN         NaN            NaN         NaN
221                    NaN         NaN            NaN         NaN
222                    NaN         NaN            NaN         NaN
223                    NaN         NaN            NaN         NaN
224                    NaN         NaN            NaN         NaN
225                    NaN         NaN            NaN         NaN
226                    NaN         NaN            NaN         NaN
227                    NaN         NaN            NaN         NaN
228                    NaN         NaN            NaN         NaN
229                    NaN         NaN            NaN         NaN

In [ ]:
#Finding duplicate entries the Duplicate entries
print((data.duplicated()).to_string())

0      False
1      False
2      False
3      False
4      False
5      False
6      False
7      False
8      False
9      False
10     False
11     False
12     False
13     False
14     False
15     False
16     False
17     False
18     False
19     False
20     False
21     False
22     False
23     False
24     False
25     False
26     False
27     False
28     False
29     False
30     False
31     False
32     False
33     False
34     False
35     False
36     False
37     False
38     False
39     False
40     False
41     False
42     False
43     False
44     False
45     False
46     False
47     False
48     False
49     False
50     False
51     False
52     False
53     False
54     False
55     False
56     False
57     False
58     False
59     False
60     False
61     False
62     False
63     False
64     False
65     False
66     False
67     False
68     False
69     False
70     False
71     False
72     False
73     False
74     False
75     False
76     False
77     False
78     False
79     False
80     False
81     False
82     False
83     False
84     False
85     False
86     False
87     False
88     False
89     False
90     False
91     False
92     False
93     False
94     False
95     False
96     False
97     False
98     False
99     False
100    False
101    False
102    False
103    False
104    False
105     True
106     True
107    False
108    False
109    False
110    False
111    False
112     True
113    False
114    False
115     True
116     True
117     True
118     True
119     True
120     True
121     True
122     True
123     True
124     True
125     True
126     True
127     True
128     True
129     True
130     True
131     True
132     True
133     True
134     True
135     True
136     True
137     True
138     True
139     True
140     True
141     True
142     True
143     True
144     True
145     True
146     True
147     True
148     True
149     True
150     True
151     True
152     True
153     True
154     True
155     True
156     True
157     True
158     True
159     True
160     True
161     True
162     True
163     True
164     True
165     True
166     True
167     True
168     True
169     True
170     True
171     True
172     True
173     True
174     True
175     True
176     True
177     True
178     True
179     True
180     True
181     True
182     True
183     True
184     True
185     True
186     True
187     True
188     True
189     True
190     True
191     True
192     True
193     True
194     True
195     True
196     True
197     True
198     True
199     True
200     True
201     True
202     True
203     True
204     True
205     True
206     True
207     True
208     True
209     True
210     True
211     True
212     True
213     True
214     True
215     True
216     True
217     True
218     True
219     True
220     True
221     True
222     True
223     True
224     True
225     True
226     True
227     True
228     True
229     True

In [ ]:
#Droping the Duplicate Data
data.drop_duplicates(inplace=True)
print(data.to_string())

                  country  Total_Cases     Population        Date
0                      USA  34,022,657    332,759,663   27-May-21
1                    India  27,729,247  1,392,271,886   27-May-21
2                   Brazil  16,392,657    213,926,682   27-May-21
3                   France   5,646,897     65,404,386   27-May-21
4                   Turkey   5,228,322     85,159,401   27-May-21
5                   Russia   5,053,748    145,991,189   27-May-21
6                       UK   4,477,705     68,208,871   27-May-21
7                    Italy   4,209,707     60,381,191  27/05/2021
8                Argentina   3,702,422     45,570,832  27/05/2021
9                  Germany   3,680,159     84,026,628  27/05/2021
10                   Spain   3,668,658     46,771,195   27-May-21
11                Colombia   3,342,567     51,373,140   27-May-21
12                    Iran   2,886,111     84,964,116   27-May-21
13                  Poland   2,871,371     37,809,020  27/05/2021
14                  Mexico   2,408,778    130,157,316  27/05/2021
15                 Ukraine   2,199,769     43,495,200  27/05/2021
16                    Peru   1,947,555     33,386,618  27/05/2021
17               Indonesia   1,809,926    276,138,203  27/05/2021
18                 Czechia   1,660,935     10,726,985  27/05/2021
19            South Africa   1,654,551     59,984,227   27-May-21
20             Netherlands   1,641,318     17,169,226   27-May-21
21                  Canada   1,374,275     38,041,454   27-May-21
22                   Chile   1,361,381     19,264,623   27-May-21
23             Philippines   1,216,582    110,898,404   27-May-21
24                    Iraq   1,190,351     41,035,284   27-May-21
25                 Romania   1,077,161     19,121,151   27-May-21
26                  Sweden   1,068,473     10,156,264   27-May-21
27                 Belgium   1,057,903     11,635,300  27/05/2021
28                Pakistan     916,239    224,758,649  27/05/2021
29                Portugal     847,604     10,169,734  27/05/2021
30                  Israel     839,433      9,326,000  27/05/2021
31                 Hungary     804,032      9,638,097  27/05/2021
32              Bangladesh     796,343    166,172,855  27/05/2021
33                  Jordan     734,659     10,294,716   27-May-21
34                   Japan     733,887    126,125,163   27-May-21
35                  Serbia     711,772      8,705,431   27-May-21
36             Switzerland     693,023      8,711,891   27-May-21
37                 Austria     644,207      9,052,918   27-May-21
38                     UAE     565,451      9,998,375   27-May-21
39                Malaysia     549,514     32,740,604   27-May-21
40                   Nepal     549,111     29,609,424   27-May-21
41                 Lebanon     539,888      6,797,703   27-May-21
42                 Morocco     518,458     37,305,888   27-May-21
43            Saudi Arabia     447,178     35,303,214   27-May-21
44                 Ecuador     423,165     17,884,886   27-May-21
45                Bulgaria     418,106      6,900,936   27-May-21
46                  Greece     398,898     10,376,840   27-May-21
47                 Belarus     391,637      9,446,505   27-May-21
48                Slovakia     389,440      5,462,039   27-May-21
49              Kazakhstan     383,595     18,979,649   27-May-21
50                  Panama     376,854      4,376,067   27-May-21
51                 Bolivia     364,570     11,816,823   27-May-21
52                 Croatia     355,617      4,082,280   27-May-21
53                Paraguay     348,184      7,211,696   27-May-21
54                 Georgia     342,880      3,982,221   27-May-21
55                 Tunisia     341,952     11,930,414   27-May-21
56              Azerbaijan     333,559     10,221,829   27-May-21
57              Costa Rica     314,102      5,136,186   27-May-21
58               Palestine     307,569      5,208,175   27-May-21
59                  Kuwait     305,583      4,327,588   27-May-21
60      Dominican Republic     289,288     10,946,263   27-May-21
61                 Uruguay     282,198      3,484,635   27-May-21
62                 Denmark     278,396      5,810,678   27-May-21
63               Lithuania     273,866      2,687,738   27-May-21
64                Ethiopia     270,944    117,525,912   27-May-21
65                 Ireland     260,766      4,987,637   27-May-21
66                   Egypt     259,540    104,074,573   27-May-21
67                     DRC      31,386     92,006,716   27-May-21
68                   Malta      30,526        442,608   27-May-21
69              Cabo Verde      30,122        561,445   27-May-21
70               Australia      30,083     25,767,255   27-May-21
71                Cambodia      28,825     16,927,916   27-May-21
72                  Rwanda      26,878     13,241,114   27-May-21
73                 Réunion      24,901        901,094   27-May-21
74                   Syria      24,410     17,883,253   27-May-21
75                   Gabon      24,365      2,273,009   27-May-21
76           French Guiana      23,763        305,645   27-May-21
77                  Guinea      23,110     13,453,067   27-May-21
78     Trinidad and Tobago      22,620      1,403,593   27-May-21
79                 Mayotte      20,176        278,739   27-May-21
80              Mauritania      19,407      4,759,572   27-May-21
81        French Polynesia      18,860        282,378   27-May-21
82                Eswatini      18,587      1,171,024   27-May-21
83                  Guyana      16,724        789,989   27-May-21
84              Guadeloupe      16,530        400,186   27-May-21
85        Papua New Guinea      15,772      9,099,821   27-May-21
86                 Somalia      14,647     16,291,776   27-May-21
87                Suriname      14,305        591,386   27-May-21
88                    Mali      14,262     20,774,952   27-May-21
89                   Haiti      14,128     11,528,120   27-May-21
90           New Caledonia         128        287,980  27/05/2021
91                Anguilla         109         15,124  27/05/2021
92   Saint Kitts and Nevis          68         53,539  27/05/2021
93        Falkland Islands          63          3,571  27/05/2021
94                   Macao          51        657,329  27/05/2021
95               Greenland          37         56,859   27-May-21
96            Vatican City          27            803   27-May-21
97   Saint Pierre Miquelon          25          5,768  27/05/2021
98              Montserrat          20          4,995  27/05/2021
99         Solomon Islands          20        702,042  27/05/2021
100         Western Sahara          10        610,555  27/05/2021
101             MS Zaandam           9            NaN  27/05/2021
102                Vanuatu           4        313,606  27/05/2021
103              Lithuania     273,866      2,687,738  27/05/2021
104               Ethiopia     270,944    117,525,912  27/05/2021
107                Moldova     255,060      4,025,458  27/05/2021
108       Marshall Islands           4         59,551  27/05/2021
109                  Samoa           3        199,607  27/05/2021
110           Saint Helena           2          6,093  27/05/2021
111                   Iran   2,886,111     84,964,116  27/05/2021
113             Micronesia           1              0  27/05/2021
114                    NaN         NaN            NaN         NaN

In [ ]:
#removing the rows having NaN values
data.dropna(inplace=True)
print(data.to_string())

                  country  Total_Cases     Population        Date
0                      USA  34,022,657    332,759,663   27-May-21
1                    India  27,729,247  1,392,271,886   27-May-21
2                   Brazil  16,392,657    213,926,682   27-May-21
3                   France   5,646,897     65,404,386   27-May-21
4                   Turkey   5,228,322     85,159,401   27-May-21
5                   Russia   5,053,748    145,991,189   27-May-21
6                       UK   4,477,705     68,208,871   27-May-21
7                    Italy   4,209,707     60,381,191  27/05/2021
8                Argentina   3,702,422     45,570,832  27/05/2021
9                  Germany   3,680,159     84,026,628  27/05/2021
10                   Spain   3,668,658     46,771,195   27-May-21
11                Colombia   3,342,567     51,373,140   27-May-21
12                    Iran   2,886,111     84,964,116   27-May-21
13                  Poland   2,871,371     37,809,020  27/05/2021
14                  Mexico   2,408,778    130,157,316  27/05/2021
15                 Ukraine   2,199,769     43,495,200  27/05/2021
16                    Peru   1,947,555     33,386,618  27/05/2021
17               Indonesia   1,809,926    276,138,203  27/05/2021
18                 Czechia   1,660,935     10,726,985  27/05/2021
19            South Africa   1,654,551     59,984,227   27-May-21
20             Netherlands   1,641,318     17,169,226   27-May-21
21                  Canada   1,374,275     38,041,454   27-May-21
22                   Chile   1,361,381     19,264,623   27-May-21
23             Philippines   1,216,582    110,898,404   27-May-21
24                    Iraq   1,190,351     41,035,284   27-May-21
25                 Romania   1,077,161     19,121,151   27-May-21
26                  Sweden   1,068,473     10,156,264   27-May-21
27                 Belgium   1,057,903     11,635,300  27/05/2021
28                Pakistan     916,239    224,758,649  27/05/2021
29                Portugal     847,604     10,169,734  27/05/2021
30                  Israel     839,433      9,326,000  27/05/2021
31                 Hungary     804,032      9,638,097  27/05/2021
32              Bangladesh     796,343    166,172,855  27/05/2021
33                  Jordan     734,659     10,294,716   27-May-21
34                   Japan     733,887    126,125,163   27-May-21
35                  Serbia     711,772      8,705,431   27-May-21
36             Switzerland     693,023      8,711,891   27-May-21
37                 Austria     644,207      9,052,918   27-May-21
38                     UAE     565,451      9,998,375   27-May-21
39                Malaysia     549,514     32,740,604   27-May-21
40                   Nepal     549,111     29,609,424   27-May-21
41                 Lebanon     539,888      6,797,703   27-May-21
42                 Morocco     518,458     37,305,888   27-May-21
43            Saudi Arabia     447,178     35,303,214   27-May-21
44                 Ecuador     423,165     17,884,886   27-May-21
45                Bulgaria     418,106      6,900,936   27-May-21
46                  Greece     398,898     10,376,840   27-May-21
47                 Belarus     391,637      9,446,505   27-May-21
48                Slovakia     389,440      5,462,039   27-May-21
49              Kazakhstan     383,595     18,979,649   27-May-21
50                  Panama     376,854      4,376,067   27-May-21
51                 Bolivia     364,570     11,816,823   27-May-21
52                 Croatia     355,617      4,082,280   27-May-21
53                Paraguay     348,184      7,211,696   27-May-21
54                 Georgia     342,880      3,982,221   27-May-21
55                 Tunisia     341,952     11,930,414   27-May-21
56              Azerbaijan     333,559     10,221,829   27-May-21
57              Costa Rica     314,102      5,136,186   27-May-21
58               Palestine     307,569      5,208,175   27-May-21
59                  Kuwait     305,583      4,327,588   27-May-21
60      Dominican Republic     289,288     10,946,263   27-May-21
61                 Uruguay     282,198      3,484,635   27-May-21
62                 Denmark     278,396      5,810,678   27-May-21
63               Lithuania     273,866      2,687,738   27-May-21
64                Ethiopia     270,944    117,525,912   27-May-21
65                 Ireland     260,766      4,987,637   27-May-21
66                   Egypt     259,540    104,074,573   27-May-21
67                     DRC      31,386     92,006,716   27-May-21
68                   Malta      30,526        442,608   27-May-21
69              Cabo Verde      30,122        561,445   27-May-21
70               Australia      30,083     25,767,255   27-May-21
71                Cambodia      28,825     16,927,916   27-May-21
72                  Rwanda      26,878     13,241,114   27-May-21
73                 Réunion      24,901        901,094   27-May-21
74                   Syria      24,410     17,883,253   27-May-21
75                   Gabon      24,365      2,273,009   27-May-21
76           French Guiana      23,763        305,645   27-May-21
77                  Guinea      23,110     13,453,067   27-May-21
78     Trinidad and Tobago      22,620      1,403,593   27-May-21
79                 Mayotte      20,176        278,739   27-May-21
80              Mauritania      19,407      4,759,572   27-May-21
81        French Polynesia      18,860        282,378   27-May-21
82                Eswatini      18,587      1,171,024   27-May-21
83                  Guyana      16,724        789,989   27-May-21
84              Guadeloupe      16,530        400,186   27-May-21
85        Papua New Guinea      15,772      9,099,821   27-May-21
86                 Somalia      14,647     16,291,776   27-May-21
87                Suriname      14,305        591,386   27-May-21
88                    Mali      14,262     20,774,952   27-May-21
89                   Haiti      14,128     11,528,120   27-May-21
90           New Caledonia         128        287,980  27/05/2021
91                Anguilla         109         15,124  27/05/2021
92   Saint Kitts and Nevis          68         53,539  27/05/2021
93        Falkland Islands          63          3,571  27/05/2021
94                   Macao          51        657,329  27/05/2021
95               Greenland          37         56,859   27-May-21
96            Vatican City          27            803   27-May-21
97   Saint Pierre Miquelon          25          5,768  27/05/2021
98              Montserrat          20          4,995  27/05/2021
99         Solomon Islands          20        702,042  27/05/2021
100         Western Sahara          10        610,555  27/05/2021
102                Vanuatu           4        313,606  27/05/2021
103              Lithuania     273,866      2,687,738  27/05/2021
104               Ethiopia     270,944    117,525,912  27/05/2021
107                Moldova     255,060      4,025,458  27/05/2021
108       Marshall Islands           4         59,551  27/05/2021
109                  Samoa           3        199,607  27/05/2021
110           Saint Helena           2          6,093  27/05/2021
111                   Iran   2,886,111     84,964,116  27/05/2021
113             Micronesia           1              0  27/05/2021

In [ ]:
data.shape

(110, 4)

In [ ]:
print(data.head(5))  #printing first 5 rows
print(data.tail(5))  #printing last 5 rows

  country  Total_Cases     Population       Date
0      USA  34,022,657    332,759,663  27-May-21
1    India  27,729,247  1,392,271,886  27-May-21
2   Brazil  16,392,657    213,926,682  27-May-21
3   France   5,646,897     65,404,386  27-May-21
4   Turkey   5,228,322     85,159,401  27-May-21
             country  Total_Cases  Population        Date
108  Marshall Islands           4      59,551  27/05/2021
109             Samoa           3     199,607  27/05/2021
110      Saint Helena           2       6,093  27/05/2021
111              Iran   2,886,111  84,964,116  27/05/2021
113        Micronesia           1           0  27/05/2021

In [ ]:
#Setting same format for Date column
data['Date']=pd.to_datetime(data['Date'])
print(data.to_string())

                  country  Total_Cases     Population       Date
0                      USA  34,022,657    332,759,663 2021-05-27
1                    India  27,729,247  1,392,271,886 2021-05-27
2                   Brazil  16,392,657    213,926,682 2021-05-27
3                   France   5,646,897     65,404,386 2021-05-27
4                   Turkey   5,228,322     85,159,401 2021-05-27
5                   Russia   5,053,748    145,991,189 2021-05-27
6                       UK   4,477,705     68,208,871 2021-05-27
7                    Italy   4,209,707     60,381,191 2021-05-27
8                Argentina   3,702,422     45,570,832 2021-05-27
9                  Germany   3,680,159     84,026,628 2021-05-27
10                   Spain   3,668,658     46,771,195 2021-05-27
11                Colombia   3,342,567     51,373,140 2021-05-27
12                    Iran   2,886,111     84,964,116 2021-05-27
13                  Poland   2,871,371     37,809,020 2021-05-27
14                  Mexico   2,408,778    130,157,316 2021-05-27
15                 Ukraine   2,199,769     43,495,200 2021-05-27
16                    Peru   1,947,555     33,386,618 2021-05-27
17               Indonesia   1,809,926    276,138,203 2021-05-27
18                 Czechia   1,660,935     10,726,985 2021-05-27
19            South Africa   1,654,551     59,984,227 2021-05-27
20             Netherlands   1,641,318     17,169,226 2021-05-27
21                  Canada   1,374,275     38,041,454 2021-05-27
22                   Chile   1,361,381     19,264,623 2021-05-27
23             Philippines   1,216,582    110,898,404 2021-05-27
24                    Iraq   1,190,351     41,035,284 2021-05-27
25                 Romania   1,077,161     19,121,151 2021-05-27
26                  Sweden   1,068,473     10,156,264 2021-05-27
27                 Belgium   1,057,903     11,635,300 2021-05-27
28                Pakistan     916,239    224,758,649 2021-05-27
29                Portugal     847,604     10,169,734 2021-05-27
30                  Israel     839,433      9,326,000 2021-05-27
31                 Hungary     804,032      9,638,097 2021-05-27
32              Bangladesh     796,343    166,172,855 2021-05-27
33                  Jordan     734,659     10,294,716 2021-05-27
34                   Japan     733,887    126,125,163 2021-05-27
35                  Serbia     711,772      8,705,431 2021-05-27
36             Switzerland     693,023      8,711,891 2021-05-27
37                 Austria     644,207      9,052,918 2021-05-27
38                     UAE     565,451      9,998,375 2021-05-27
39                Malaysia     549,514     32,740,604 2021-05-27
40                   Nepal     549,111     29,609,424 2021-05-27
41                 Lebanon     539,888      6,797,703 2021-05-27
42                 Morocco     518,458     37,305,888 2021-05-27
43            Saudi Arabia     447,178     35,303,214 2021-05-27
44                 Ecuador     423,165     17,884,886 2021-05-27
45                Bulgaria     418,106      6,900,936 2021-05-27
46                  Greece     398,898     10,376,840 2021-05-27
47                 Belarus     391,637      9,446,505 2021-05-27
48                Slovakia     389,440      5,462,039 2021-05-27
49              Kazakhstan     383,595     18,979,649 2021-05-27
50                  Panama     376,854      4,376,067 2021-05-27
51                 Bolivia     364,570     11,816,823 2021-05-27
52                 Croatia     355,617      4,082,280 2021-05-27
53                Paraguay     348,184      7,211,696 2021-05-27
54                 Georgia     342,880      3,982,221 2021-05-27
55                 Tunisia     341,952     11,930,414 2021-05-27
56              Azerbaijan     333,559     10,221,829 2021-05-27
57              Costa Rica     314,102      5,136,186 2021-05-27
58               Palestine     307,569      5,208,175 2021-05-27
59                  Kuwait     305,583      4,327,588 2021-05-27
60      Dominican Republic     289,288     10,946,263 2021-05-27
61                 Uruguay     282,198      3,484,635 2021-05-27
62                 Denmark     278,396      5,810,678 2021-05-27
63               Lithuania     273,866      2,687,738 2021-05-27
64                Ethiopia     270,944    117,525,912 2021-05-27
65                 Ireland     260,766      4,987,637 2021-05-27
66                   Egypt     259,540    104,074,573 2021-05-27
67                     DRC      31,386     92,006,716 2021-05-27
68                   Malta      30,526        442,608 2021-05-27
69              Cabo Verde      30,122        561,445 2021-05-27
70               Australia      30,083     25,767,255 2021-05-27
71                Cambodia      28,825     16,927,916 2021-05-27
72                  Rwanda      26,878     13,241,114 2021-05-27
73                 Réunion      24,901        901,094 2021-05-27
74                   Syria      24,410     17,883,253 2021-05-27
75                   Gabon      24,365      2,273,009 2021-05-27
76           French Guiana      23,763        305,645 2021-05-27
77                  Guinea      23,110     13,453,067 2021-05-27
78     Trinidad and Tobago      22,620      1,403,593 2021-05-27
79                 Mayotte      20,176        278,739 2021-05-27
80              Mauritania      19,407      4,759,572 2021-05-27
81        French Polynesia      18,860        282,378 2021-05-27
82                Eswatini      18,587      1,171,024 2021-05-27
83                  Guyana      16,724        789,989 2021-05-27
84              Guadeloupe      16,530        400,186 2021-05-27
85        Papua New Guinea      15,772      9,099,821 2021-05-27
86                 Somalia      14,647     16,291,776 2021-05-27
87                Suriname      14,305        591,386 2021-05-27
88                    Mali      14,262     20,774,952 2021-05-27
89                   Haiti      14,128     11,528,120 2021-05-27
90           New Caledonia         128        287,980 2021-05-27
91                Anguilla         109         15,124 2021-05-27
92   Saint Kitts and Nevis          68         53,539 2021-05-27
93        Falkland Islands          63          3,571 2021-05-27
94                   Macao          51        657,329 2021-05-27
95               Greenland          37         56,859 2021-05-27
96            Vatican City          27            803 2021-05-27
97   Saint Pierre Miquelon          25          5,768 2021-05-27
98              Montserrat          20          4,995 2021-05-27
99         Solomon Islands          20        702,042 2021-05-27
100         Western Sahara          10        610,555 2021-05-27
102                Vanuatu           4        313,606 2021-05-27
103              Lithuania     273,866      2,687,738 2021-05-27
104               Ethiopia     270,944    117,525,912 2021-05-27
107                Moldova     255,060      4,025,458 2021-05-27
108       Marshall Islands           4         59,551 2021-05-27
109                  Samoa           3        199,607 2021-05-27
110           Saint Helena           2          6,093 2021-05-27
111                   Iran   2,886,111     84,964,116 2021-05-27
113             Micronesia           1              0 2021-05-27

In [ ]:
data.describe()

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: FutureWarning: Treating datetime data as categorical rather than numeric in `.describe` is deprecated and will be removed in a future version of pandas. Specify `datetime_is_numeric=True` to silence this warning and adopt the future behavior now.
  """Entry point for launching an IPython kernel.

       country  Total_Cases   Population                 Date
count       110         110          110                  110
unique      107         105          107                    1
top        Iran     273,866  117,525,912  2021-05-27 00:00:00
freq          2           2            2                  110
first       NaN         NaN          NaN  2021-05-27 00:00:00
last        NaN         NaN          NaN  2021-05-27 00:00:00

In [ ]:
#checking whether data is cleaned or not
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 110 entries, 0 to 113
Data columns (total 4 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   country      110 non-null    object
 1   Total_Cases  110 non-null    object
 2   Population   110 non-null    object
 3   Date         110 non-null    datetime64[ns]
dtypes: datetime64[ns](1), object(3)
memory usage: 4.3+ KB

Visualizing Data

In [ ]:
cn = data.loc['country ']
t = data.loc['Total_Cases']
p = data.loc['Population']

In [ ]:
data.plot()
plt.show()

![dfgffdgfd.png]()